@import url('https://fonts.googleapis.com/css?family=Fira%20Code&display=swap');

body {
	height: 65vh;
}

.text-center {
	margin-top: 35vh;
}

.fa-youtube {
	color: red;
}

.fab, .fas {
	margin-right: 10px;
}

.fa-envelope {
	color: blue;
}

.fa-twitter {
	color: #00acee;
}

.fa-whatsapp {
	color: #128C7E;
}

* {
	background-color: #e5e7eb;
	font-family: 'Fira Code';
}
